.newsletter-form {
  width: 100%;
}
.newsletter-form input {
  height: 40px;
  outline: none;
  padding: 0 15px;
  font-size: 14px;
}
@media screen and (min-width: 960px) {
  .newsletter-form {
    min-width: 900px;
  }
}

@media screen and (min-width: 769px) {
  .newsletter-form {
    min-width: 700px;
  }
}
