.header-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 16px;
  min-height: 600px;
  background-image: url("/main-header.jpg");
  background-size: cover;
}
@media screen and (max-width: 900px) {
  .header-container {
    background: #b4c0e2;
  }
}

.header-paragraph {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  max-width: 440px;
  padding: 40px 0;
  color: #FFF;
}

.header-paragraph > h1 {
  font-size: 2.2em;
  font-weight: 500;
}

.header-paragraph > p {
  padding: 24px 0;
  font-size: 1.2em;
}

@media (max-width: 417px) {
  .header-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px;
    background: #E7ECFF;
  }

  .header-paragraph {
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    padding: 0;
  }

  .header-paragraph > h1 {
    padding-bottom: 24px;
  }
}
